body{
    margin:0;
    font-family:Arial, sans-serif;
    background-color:#87CEEB;
}

.header{
    background-color:#F39C12;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    background-color:#2F4F4F;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:20px;
}

nav a:hover{
    color:#98FF98;
}

.content{
    padding:30px;
    text-align:center;
}

table{
    margin:auto;
    border-collapse:collapse;
}

table,th,td{
    border:2px solid black;
    padding:10px;
}

th{
    background-color:#F88379;
}

.footer{
    background-color:#2F4F4F;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}