 body{
                background-color: rgb(231, 209, 3);
                color: rgb(29, 69, 77);
                
            }
    div{background-color: rgb(250, 250, 244);
        color: rgb(47, 79, 79);
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 25px;
        max-width: 600px;
        margin: 20px auto;
        padding: 40px;
        border: 2px solid rgb(47, 79, 79);
        border-radius: 10px;
        text-shadow: rgb(250, 250, 244);
    }
    img{
    width: 100%;
    height: auto;
    display: block;
}

h3{
    text-decoration:underline double;
}
div2{
    background-color:rgb(250, 250, 244) ;

}
div3{
    background-color:rgb(250, 250, 244) ;
}
.placeholder {
    width: 400px;
    height: 200px;
}

.placeholder::placeholder {
    font-size: auto;
    text-align: center;
}